@model IEnumerable<Models.Restaurant>

@{
    ViewData["Title"] = "Eatery Evals";
}

@*<div>@(((WebApp.Controllers.UsersController)ViewData["LoginError"]))</div>*@

<div class="text-center">
    
    <h1 class="display-4">Welcome to Eatery Evals! Feel free to check out reviews for local restaurants or signup to contribute!</h1>
</div>

<a 